@import '../styles//variables.scss';

@function typography_variant(
  $size,
  $weight,
  $line_height,
  $spacing,
) {
  @return (
    size: $size,
    weight: $weight,
    line_height: $line_height,
    spacing: $spacing,
  )
};

$typography_variants: (
  head_xl: typography_variant(6.4rem, 700, 1, normal),
  head_l: typography_variant(5.6rem, 700, 1.4, normal),
  head_m: typography_variant(4rem, 700, 0.8, normal), 
  head_s: typography_variant(3.2rem, 700, 1, normal),
  body_m: typography_variant(2.4rem, 700, 1.3, 2px),
  body_s: typography_variant(1.6rem, 600, 1.3, 1.5px),
);

@mixin typography($variant) {
  $var: map-get($typography_variants, $variant);
  font-size: map-get($var, size);
  line-height: map-get($var, line_height);
  font-weight: map-get($var, weight);
  letter-spacing: map-get($var, spacing);
};

.font {
  @each $variant, $value in $typography_variants {
    @debug $variant;
    &-#{$variant} {
      @include typography($variant);
    }
  }
}

html {
  font-size: 10px;

  @media(max-width: $tablet) {
    font-size: 7.5px;
  } 
}


