@import '../../styles//variables.scss';

@mixin hover-figure-shadow($color) {
  box-shadow: 0px 9px 0 0px $color, 
    0px 0px 0px 25px hsla(0, 0%, 100%, 0.04); 
}

.game__board__step-one {
  background: url('../../images/bg-triangle.svg') no-repeat center;
  background-size: 50%;
  display: flex;
  justify-content: space-around;
  width: 600px;
  flex-wrap: wrap;
  margin: 0 auto;

  @media(max-width: $tablet) {
    width: 100%;
    background-size: 70%;
  }

  .game__figure {
    &-paper {
      &:hover {
        @include hover-figure-shadow(hsl(229, 64.4%, 46.3%));
      }

      @media(max-width: $tablet) {
        margin-right: auto;
      }
    }

    &-rock {
      &:hover {
        @include hover-figure-shadow(hsl(347, 75.4%, 35.1%));
      }
    }

    &-scissors {
      &:hover {
        @include hover-figure-shadow(hsl(28, 76.1%, 44.3%));
     }
    }
  }
}