@import '../../styles/variables.scss';

.game__board__step-two {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 1000px;

  @media(max-width: $desktop) {
    flex-wrap: wrap;
    width: 700px;
  }

  @media(max-width: $tablet) {
    width: 100%;
    justify-content: space-between;
  }

  .game__figure {
    width: 225px;
    height: 225px;
    border-width: 33px;

    @media(max-width: $tablet) {
      width: 94px;
      height: 94px;
      border-width: 15px;
    }
  }


  .step-two {

    &__figure {
      display: flex;
      flex-direction: column;
      text-align: center;

      @media(max-width: $tablet) {
        flex-direction: column-reverse;
        align-items: center;
      }

      &__rival-empty {
        width: 225px;
        height: 225px;
        background-color: hsla(0, 0%, 0%, 0.1);
        border-radius: 50%;
        margin-top: 33px;

        @media(max-width: $tablet) {
          width: 94px;
          height: 94px;
          margin: 0;
        }
      }
    }

    &__winner-status {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      @media(max-width: $desktop) {
        order: 1;
      }

      @media(max-width: $tablet) {
        margin:auto;
      }
      
    }

    &__member-name {
      margin-bottom: 65px;

      @media(max-width: $tablet) {
        margin: 15px 0 60px 0;
        width: 100%;
      }
    }
  }
}